--
-- PostgreSQL database dump
--

\restrict kkF3AEK5CAx366aG4TTrc9VgoWK9xQe68aTNF5na1u02LlRP4SaOQ733e2zqpWN

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

-- Started on 2025-09-29 13:48:38 UTC

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE IF EXISTS genai_hiring;
--
-- TOC entry 3535 (class 1262 OID 16384)
-- Name: genai_hiring; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE genai_hiring WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE genai_hiring OWNER TO postgres;

\unrestrict kkF3AEK5CAx366aG4TTrc9VgoWK9xQe68aTNF5na1u02LlRP4SaOQ733e2zqpWN
\connect genai_hiring
\restrict kkF3AEK5CAx366aG4TTrc9VgoWK9xQe68aTNF5na1u02LlRP4SaOQ733e2zqpWN

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 225 (class 1259 OID 16479)
-- Name: application_scores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.application_scores (
    id integer NOT NULL,
    application_id integer NOT NULL,
    match_score double precision NOT NULL,
    ats_score double precision NOT NULL,
    final_score double precision NOT NULL,
    skills_match double precision,
    experience_match double precision,
    education_match double precision,
    certification_match double precision,
    ats_format_score double precision,
    ats_keywords_score double precision,
    ats_structure_score double precision,
    scoring_details json,
    ai_feedback text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.application_scores OWNER TO postgres;

--
-- TOC entry 224 (class 1259 OID 16478)
-- Name: application_scores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.application_scores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.application_scores_id_seq OWNER TO postgres;

--
-- TOC entry 3536 (class 0 OID 0)
-- Dependencies: 224
-- Name: application_scores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.application_scores_id_seq OWNED BY public.application_scores.id;


--
-- TOC entry 223 (class 1259 OID 16461)
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id integer NOT NULL,
    reference_number character varying NOT NULL,
    full_name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    linkedin_url character varying,
    github_url character varying,
    portfolio_url character varying,
    resume_filename character varying NOT NULL,
    resume_path character varying NOT NULL,
    cover_letter text,
    additional_info text,
    parsed_skills json,
    parsed_experience json,
    parsed_education json,
    parsed_certifications json,
    status character varying,
    current_stage character varying,
    job_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    reviewed_at timestamp with time zone,
    interview_schedule_id integer,
    interview_review_id integer,
    selection_email_sent_at timestamp without time zone,
    hr_notification_sent_at timestamp without time zone,
    final_interview_score numeric(5,2)
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- TOC entry 222 (class 1259 OID 16460)
-- Name: applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.applications_id_seq OWNER TO postgres;

--
-- TOC entry 3537 (class 0 OID 0)
-- Dependencies: 222
-- Name: applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.applications_id_seq OWNED BY public.applications.id;


--
-- TOC entry 215 (class 1259 OID 16390)
-- Name: companies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.companies (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    logo_url character varying,
    website character varying,
    industry character varying,
    company_size character varying,
    location character varying,
    theme_color character varying,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.companies OWNER TO postgres;

--
-- TOC entry 214 (class 1259 OID 16389)
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.companies_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO postgres;

--
-- TOC entry 3538 (class 0 OID 0)
-- Dependencies: 214
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- TOC entry 229 (class 1259 OID 16513)
-- Name: interview_reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_reviews (
    id integer NOT NULL,
    application_id integer NOT NULL,
    interview_schedule_id integer,
    interviewer_email character varying(255),
    review_email_subject character varying(500),
    review_email_body text,
    review_received_at timestamp with time zone,
    technical_score integer,
    communication_score integer,
    problem_solving_score integer,
    cultural_fit_score integer,
    leadership_potential integer,
    overall_recommendation character varying(20),
    strengths text,
    areas_for_improvement text,
    additional_comments text,
    is_valid_format boolean,
    processed_at timestamp with time zone,
    processing_errors text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.interview_reviews OWNER TO postgres;

--
-- TOC entry 228 (class 1259 OID 16512)
-- Name: interview_reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.interview_reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.interview_reviews_id_seq OWNER TO postgres;

--
-- TOC entry 3539 (class 0 OID 0)
-- Dependencies: 228
-- Name: interview_reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.interview_reviews_id_seq OWNED BY public.interview_reviews.id;


--
-- TOC entry 227 (class 1259 OID 16495)
-- Name: interview_schedules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_schedules (
    id integer NOT NULL,
    application_id integer NOT NULL,
    availability_requested_at timestamp with time zone,
    available_slots json,
    slots_generated_from date,
    slots_generated_to date,
    selected_slot_date date,
    selected_slot_time time without time zone,
    candidate_selected_at timestamp with time zone,
    primary_interviewer_email character varying(255),
    primary_interviewer_name character varying(255),
    backup_interviewer_email character varying(255),
    backup_interviewer_name character varying(255),
    interview_scheduled_at timestamp with time zone,
    interview_duration integer,
    status character varying(50),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    google_meet_link character varying(500),
    google_calendar_event_id character varying(255),
    google_meet_created timestamp without time zone
);


ALTER TABLE public.interview_schedules OWNER TO postgres;

--
-- TOC entry 226 (class 1259 OID 16494)
-- Name: interview_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.interview_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.interview_schedules_id_seq OWNER TO postgres;

--
-- TOC entry 3540 (class 0 OID 0)
-- Dependencies: 226
-- Name: interview_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.interview_schedules_id_seq OWNED BY public.interview_schedules.id;


--
-- TOC entry 231 (class 1259 OID 16544)
-- Name: interviewer_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interviewer_tokens (
    id integer NOT NULL,
    token character varying(255) NOT NULL,
    interviewer_email character varying(255) NOT NULL,
    interviewer_name character varying(255) NOT NULL,
    application_id integer NOT NULL,
    interviewer_type character varying(50) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_used boolean,
    used_at timestamp with time zone,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.interviewer_tokens OWNER TO postgres;

--
-- TOC entry 230 (class 1259 OID 16543)
-- Name: interviewer_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.interviewer_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.interviewer_tokens_id_seq OWNER TO postgres;

--
-- TOC entry 3541 (class 0 OID 0)
-- Dependencies: 230
-- Name: interviewer_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.interviewer_tokens_id_seq OWNED BY public.interviewer_tokens.id;


--
-- TOC entry 221 (class 1259 OID 16446)
-- Name: job_requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_requirements (
    id integer NOT NULL,
    job_id integer NOT NULL,
    requirement_type character varying NOT NULL,
    requirement_value character varying NOT NULL,
    is_mandatory boolean,
    weight integer
);


ALTER TABLE public.job_requirements OWNER TO postgres;

--
-- TOC entry 220 (class 1259 OID 16445)
-- Name: job_requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_requirements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.job_requirements_id_seq OWNER TO postgres;

--
-- TOC entry 3542 (class 0 OID 0)
-- Dependencies: 220
-- Name: job_requirements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_requirements_id_seq OWNED BY public.job_requirements.id;


--
-- TOC entry 219 (class 1259 OID 16419)
-- Name: jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jobs (
    id integer NOT NULL,
    title character varying NOT NULL,
    description text NOT NULL,
    short_description text,
    department character varying,
    location character varying,
    job_type character varying,
    experience_level character varying,
    salary_range character varying,
    key_skills json,
    required_experience character varying,
    certifications json,
    additional_requirements json,
    status character varying,
    is_active boolean,
    company_id integer NOT NULL,
    created_by integer NOT NULL,
    approved_by integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone,
    approved_at timestamp with time zone,
    published_at timestamp with time zone
);


ALTER TABLE public.jobs OWNER TO postgres;

--
-- TOC entry 218 (class 1259 OID 16418)
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jobs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jobs_id_seq OWNER TO postgres;

--
-- TOC entry 3543 (class 0 OID 0)
-- Dependencies: 218
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- TOC entry 217 (class 1259 OID 16402)
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    full_name character varying NOT NULL,
    hashed_password character varying NOT NULL,
    is_active boolean,
    user_type character varying NOT NULL,
    company_id integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- TOC entry 216 (class 1259 OID 16401)
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- TOC entry 3544 (class 0 OID 0)
-- Dependencies: 216
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- TOC entry 3312 (class 2604 OID 16482)
-- Name: application_scores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_scores ALTER COLUMN id SET DEFAULT nextval('public.application_scores_id_seq'::regclass);


--
-- TOC entry 3310 (class 2604 OID 16464)
-- Name: applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications ALTER COLUMN id SET DEFAULT nextval('public.applications_id_seq'::regclass);


--
-- TOC entry 3303 (class 2604 OID 16393)
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- TOC entry 3316 (class 2604 OID 16516)
-- Name: interview_reviews id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_reviews ALTER COLUMN id SET DEFAULT nextval('public.interview_reviews_id_seq'::regclass);


--
-- TOC entry 3314 (class 2604 OID 16498)
-- Name: interview_schedules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules ALTER COLUMN id SET DEFAULT nextval('public.interview_schedules_id_seq'::regclass);


--
-- TOC entry 3318 (class 2604 OID 16547)
-- Name: interviewer_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviewer_tokens ALTER COLUMN id SET DEFAULT nextval('public.interviewer_tokens_id_seq'::regclass);


--
-- TOC entry 3309 (class 2604 OID 16449)
-- Name: job_requirements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements ALTER COLUMN id SET DEFAULT nextval('public.job_requirements_id_seq'::regclass);


--
-- TOC entry 3307 (class 2604 OID 16422)
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- TOC entry 3305 (class 2604 OID 16405)
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- TOC entry 3523 (class 0 OID 16479)
-- Dependencies: 225
-- Data for Name: application_scores; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3521 (class 0 OID 16461)
-- Dependencies: 223
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3513 (class 0 OID 16390)
-- Dependencies: 215
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.companies (id, name, description, logo_url, website, industry, company_size, location, theme_color, is_active, created_at, updated_at) FROM stdin;
1	GenAI Solutions	Default company for the GenAI Hiring Platform - providing AI-powered recruitment solutions	\N	https://genai-solutions.com	Technology	Medium	Global	#2563eb	t	2025-09-27 17:09:14.850651+00	\N
\.


--
-- TOC entry 3527 (class 0 OID 16513)
-- Dependencies: 229
-- Data for Name: interview_reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3525 (class 0 OID 16495)
-- Dependencies: 227
-- Data for Name: interview_schedules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3529 (class 0 OID 16544)
-- Dependencies: 231
-- Data for Name: interviewer_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3519 (class 0 OID 16446)
-- Dependencies: 221
-- Data for Name: job_requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_requirements (id, job_id, requirement_type, requirement_value, is_mandatory, weight) FROM stdin;
\.


--
-- TOC entry 3517 (class 0 OID 16419)
-- Dependencies: 219
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3515 (class 0 OID 16402)
-- Dependencies: 217
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- TOC entry 3545 (class 0 OID 0)
-- Dependencies: 224
-- Name: application_scores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.application_scores_id_seq', 30, true);


--
-- TOC entry 3546 (class 0 OID 0)
-- Dependencies: 222
-- Name: applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.applications_id_seq', 37, true);


--
-- TOC entry 3547 (class 0 OID 0)
-- Dependencies: 214
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.companies_id_seq', 1, true);


--
-- TOC entry 3548 (class 0 OID 0)
-- Dependencies: 228
-- Name: interview_reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.interview_reviews_id_seq', 1, true);


--
-- TOC entry 3549 (class 0 OID 0)
-- Dependencies: 226
-- Name: interview_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.interview_schedules_id_seq', 20, true);


--
-- TOC entry 3550 (class 0 OID 0)
-- Dependencies: 230
-- Name: interviewer_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.interviewer_tokens_id_seq', 10, true);


--
-- TOC entry 3551 (class 0 OID 0)
-- Dependencies: 220
-- Name: job_requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_requirements_id_seq', 1, false);


--
-- TOC entry 3552 (class 0 OID 0)
-- Dependencies: 218
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jobs_id_seq', 2, true);


--
-- TOC entry 3553 (class 0 OID 0)
-- Dependencies: 216
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- TOC entry 3340 (class 2606 OID 16487)
-- Name: application_scores application_scores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_scores
    ADD CONSTRAINT application_scores_pkey PRIMARY KEY (id);


--
-- TOC entry 3335 (class 2606 OID 16469)
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- TOC entry 3320 (class 2606 OID 16398)
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- TOC entry 3348 (class 2606 OID 16521)
-- Name: interview_reviews interview_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_reviews
    ADD CONSTRAINT interview_reviews_pkey PRIMARY KEY (id);


--
-- TOC entry 3343 (class 2606 OID 16505)
-- Name: interview_schedules interview_schedules_application_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules
    ADD CONSTRAINT interview_schedules_application_id_key UNIQUE (application_id);


--
-- TOC entry 3345 (class 2606 OID 16503)
-- Name: interview_schedules interview_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules
    ADD CONSTRAINT interview_schedules_pkey PRIMARY KEY (id);


--
-- TOC entry 3354 (class 2606 OID 16551)
-- Name: interviewer_tokens interviewer_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviewer_tokens
    ADD CONSTRAINT interviewer_tokens_pkey PRIMARY KEY (id);


--
-- TOC entry 3333 (class 2606 OID 16453)
-- Name: job_requirements job_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements
    ADD CONSTRAINT job_requirements_pkey PRIMARY KEY (id);


--
-- TOC entry 3330 (class 2606 OID 16427)
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- TOC entry 3326 (class 2606 OID 16410)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 3350 (class 1259 OID 16560)
-- Name: idx_interviewer_tokens_application_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interviewer_tokens_application_id ON public.interviewer_tokens USING btree (application_id);


--
-- TOC entry 3351 (class 1259 OID 16561)
-- Name: idx_interviewer_tokens_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interviewer_tokens_email ON public.interviewer_tokens USING btree (interviewer_email);


--
-- TOC entry 3352 (class 1259 OID 16559)
-- Name: idx_interviewer_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interviewer_tokens_token ON public.interviewer_tokens USING btree (token);


--
-- TOC entry 3341 (class 1259 OID 16493)
-- Name: ix_application_scores_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_application_scores_id ON public.application_scores USING btree (id);


--
-- TOC entry 3336 (class 1259 OID 16477)
-- Name: ix_applications_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_applications_email ON public.applications USING btree (email);


--
-- TOC entry 3337 (class 1259 OID 16476)
-- Name: ix_applications_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_applications_id ON public.applications USING btree (id);


--
-- TOC entry 3338 (class 1259 OID 16475)
-- Name: ix_applications_reference_number; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_applications_reference_number ON public.applications USING btree (reference_number);


--
-- TOC entry 3321 (class 1259 OID 16400)
-- Name: ix_companies_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_companies_id ON public.companies USING btree (id);


--
-- TOC entry 3322 (class 1259 OID 16399)
-- Name: ix_companies_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_companies_name ON public.companies USING btree (name);


--
-- TOC entry 3349 (class 1259 OID 16532)
-- Name: ix_interview_reviews_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_interview_reviews_id ON public.interview_reviews USING btree (id);


--
-- TOC entry 3346 (class 1259 OID 16511)
-- Name: ix_interview_schedules_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_interview_schedules_id ON public.interview_schedules USING btree (id);


--
-- TOC entry 3355 (class 1259 OID 16557)
-- Name: ix_interviewer_tokens_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_interviewer_tokens_id ON public.interviewer_tokens USING btree (id);


--
-- TOC entry 3356 (class 1259 OID 16558)
-- Name: ix_interviewer_tokens_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_interviewer_tokens_token ON public.interviewer_tokens USING btree (token);


--
-- TOC entry 3331 (class 1259 OID 16459)
-- Name: ix_job_requirements_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_job_requirements_id ON public.job_requirements USING btree (id);


--
-- TOC entry 3327 (class 1259 OID 16443)
-- Name: ix_jobs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_jobs_id ON public.jobs USING btree (id);


--
-- TOC entry 3328 (class 1259 OID 16444)
-- Name: ix_jobs_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_jobs_title ON public.jobs USING btree (title);


--
-- TOC entry 3323 (class 1259 OID 16417)
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- TOC entry 3324 (class 1259 OID 16416)
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- TOC entry 3365 (class 2606 OID 16488)
-- Name: application_scores application_scores_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.application_scores
    ADD CONSTRAINT application_scores_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- TOC entry 3362 (class 2606 OID 16538)
-- Name: applications applications_interview_review_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_interview_review_id_fkey FOREIGN KEY (interview_review_id) REFERENCES public.interview_reviews(id);


--
-- TOC entry 3363 (class 2606 OID 16533)
-- Name: applications applications_interview_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_interview_schedule_id_fkey FOREIGN KEY (interview_schedule_id) REFERENCES public.interview_schedules(id);


--
-- TOC entry 3364 (class 2606 OID 16470)
-- Name: applications applications_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- TOC entry 3367 (class 2606 OID 16522)
-- Name: interview_reviews interview_reviews_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_reviews
    ADD CONSTRAINT interview_reviews_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- TOC entry 3368 (class 2606 OID 16527)
-- Name: interview_reviews interview_reviews_interview_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_reviews
    ADD CONSTRAINT interview_reviews_interview_schedule_id_fkey FOREIGN KEY (interview_schedule_id) REFERENCES public.interview_schedules(id);


--
-- TOC entry 3366 (class 2606 OID 16506)
-- Name: interview_schedules interview_schedules_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_schedules
    ADD CONSTRAINT interview_schedules_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- TOC entry 3369 (class 2606 OID 16552)
-- Name: interviewer_tokens interviewer_tokens_application_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interviewer_tokens
    ADD CONSTRAINT interviewer_tokens_application_id_fkey FOREIGN KEY (application_id) REFERENCES public.applications(id);


--
-- TOC entry 3361 (class 2606 OID 16454)
-- Name: job_requirements job_requirements_job_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements
    ADD CONSTRAINT job_requirements_job_id_fkey FOREIGN KEY (job_id) REFERENCES public.jobs(id);


--
-- TOC entry 3358 (class 2606 OID 16438)
-- Name: jobs jobs_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- TOC entry 3359 (class 2606 OID 16428)
-- Name: jobs jobs_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- TOC entry 3360 (class 2606 OID 16433)
-- Name: jobs jobs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- TOC entry 3357 (class 2606 OID 16411)
-- Name: users users_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.companies(id);


-- Completed on 2025-09-29 13:48:39 UTC

--
-- PostgreSQL database dump complete
--

\unrestrict kkF3AEK5CAx366aG4TTrc9VgoWK9xQe68aTNF5na1u02LlRP4SaOQ733e2zqpWN

